<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>{{user.name}}'s Watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}" type="text/css">
    <link rel="icon" href="{{url_for('static',filename='txbb.png')}}">
    {%endblock%}
</head>    
<body>
    <h2>
        <img alt="标题旁边的图片" class="heading" src="{{url_for('static',filename = 'images/heading.jpg')}}">
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a>></a></li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer>
        <small>&copy; 2023 <a href="http://bilibili.com/">快来！</a></small>
    </footer>
</body>
</html>